<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>University of Plymouth</li>
    <li>School of Engineering, Computing and Mathematics</li>
    <li>Drake Circus, Plymouth PL4 8AA</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>38 Kingslty Road, Plymouth, PL4 6QP</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+44 7513 561140</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:shashwatmail4@gmail.com">shashwatmail4@gmail.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://shashwatadh.github.io/">https://shashwatadh.github.io/</a></li>
  </ul>
</div>
